.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-color);
}
:root {
  --primary-color: #434455;
  --primary-background: #ffffff;
  --secondary-color: #2e2f42;
  --hover-focus: #404bbf;
  --button-color: #4d5ae5;
  --secondary-background: #f4f4fd;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
}
.logo .studio {
  color: var(--secondary-color);
}
.link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.link-nav:hover,
.link-nav:focus {
  color: var(--hover-focus);
}
.address {
  font-style: normal;
}
.link-contact {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.link-contact:focus,
.link-contact:hover {
  color: var(--hover-focus);
}

/* hero */
.hero {
  background: var(--secondary-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-background);
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--button-color);
  color: var(--primary-background);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background: var(--hover-focus);
}
/* section 1 */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* sectoin 2 */
.list-item {
  background-color: var(--primary-background);
}
/* section 4 */
.section-team {
  background-color: var(--secondary-background);
}
.list-team-item {
  background-color: var(--primary-background);
}
/* footer */
.studio-footer {
  color: var(--secondary-background);
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-background);
}
.footer {
  background: var(--secondary-color);
}
/* ====portfolio==== */
.button-portfolio {
  font-family: "Roboto", sans-serif;
  background: var(--secondary-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-color);
  cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background: var(--hover-focus);
  color: var(--primary-background);
}
.text-portfolio {
  color: var(--primary-color);
}
